@using Marketing.GestaoVerbas.Core.Grid
@using Marketing.GestaoVerbas.ViewModel.RelatoriosCarimbosContabilizados
@model  GridSetings<ValoresReceberAnalitico>

<div class="row py-1">
    <div class="mx-auto">
        <ul class="nav nav-pills" style="font-size:25px;">
            <li class="nav-item">
                <button type="button" onclick="VoltarFiltros()" title="Voltar" class="nav-link" style="background-color:transparent;border:none;"><i class="fa fa-arrow-left"></i>&nbsp;</button>
            </li>

            <li class="nav-item">
                <button type="button" title="Exportar" class="nav-link" style="background-color:transparent;border:none;" onclick="jsExportarCSV()"> <i class="fa fa-download"></i>&nbsp;</button>
            </li>
        </ul>
    </div>
</div>
<div class="dropdown-divider" style="margin-top:-12px;"></div>
<br />
<div class="card bg-primary">

    <div class="card-header text-white">
        <h5>Relatório Valores a Receber - Analítico</h5>
    </div>

    <div id="tbGridPaginavel" class="card-body bg-secondary grid-paginavel">
        <div class="row">
            <div class="table-responsive">
                <div class="dataTables_wrapper">
                    <table class="table table-hover table-bordered table-striped dataTable">
                        <thead class="bg-secondary">
                            <tr role="row">
                                <th class="sorting">
                                    <button type="submit" sort-expression="CodFornecedor">
                                        @Html.DisplayNameFor(model => model.Filtro.CodFornecedor)
                                    </button>
                                </th>
                                <th class="sorting">
                                    <button type="submit" sort-expression="NomFornecedor">
                                        @Html.DisplayNameFor(model => model.Filtro.NomFornecedor)
                                    </button>
                                </th>
                                <th class="sorting">
                                    <button type="submit" sort-expression="CodPromessa">
                                        @Html.DisplayNameFor(model => model.Filtro.CodPromessa)
                                    </button>
                                </th>
                                <th class="sorting">
                                    <button type="submit" sort-expression="DtPrevisaoRecebimento">
                                        @Html.DisplayNameFor(model => model.Filtro.DtPrevisaoRecebimento)
                                    </button>
                                </th>
                                <th class="sorting">
                                    <button type="submit" sort-expression="SaldoExtraAcordo">
                                        @Html.DisplayNameFor(model => model.Filtro.SaldoExtraAcordo)
                                    </button>
                                </th>
                                <th class="sorting">
                                    <button type="submit" sort-expression="SaldoAcordo">
                                        @Html.DisplayNameFor(model => model.Filtro.SaldoAcordo)
                                    </button>
                                </th>
                                <th class="sorting">
                                    <button type="submit" sort-expression="SaldoTotal">
                                        @Html.DisplayNameFor(model => model.Filtro.SaldoTotal)
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody class="bg-light border" id="tbodyRelatorioItem">
                            @foreach (ValoresReceberAnalitico item in Model.Result)
                            {
                            <tr>
                                <td>@Html.DisplayFor(model => item.CodFornecedor)</td>
                                <td>@Html.DisplayFor(model => item.NomFornecedor)</td>
                                <td>@Html.DisplayFor(model => item.CodPromessa)</td>
                                <td>@Html.DisplayFor(model => item.DtPrevisaoRecebimento)</td>
                                <td>@Html.DisplayFor(model => item.SaldoExtraAcordo)</td>
                                <td>@Html.DisplayFor(model => item.SaldoAcordo)</td>
                                <td>@Html.DisplayFor(model => item.SaldoTotal)</td>
                            </tr>
                            }
                        </tbody>
                        <tfoot class="bg-secondary">
                            <tr>
                                <th>Totais:</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>
                                    <span>@((Model.AggregateSummary["sumSaldoExtraAcordo"] as double?).GetValueOrDefault().ToString("c"))</span>
                                </th>
                                <th>
                                    <span>@((Model.AggregateSummary["sumSaldoAcordo"] as double?).GetValueOrDefault().ToString("c"))</span>
                                </th>
                                <th>
                                    <span>@((Model.AggregateSummary["sumSaldoTotal"] as double?).GetValueOrDefault().ToString("c"))</span>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            @Html.HiddenFor(model => model.Setings.TotalRows, new { @id = "hdfRelatorioTotalRows" })
            @Html.Partial(Constantes.VIEW_PAGINACAO, Model.Setings, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Setings" } })
        </div>
    </div>
</div>