@using Marketing.GestaoVerbas.Core.Grid
@using Marketing.GestaoVerbas.ViewModel

@model  GridSetings<NegociacaoVerbaViewModel>

@{
    ViewBag.Title = "Negociação";
}


<div class="fixed-nav-content">
    @using (Ajax.BeginForm("Pesquisar", "Pendencias", Marketing.GestaoVerbas.Core.Ajax.Constantes.AJAX_PESQUISA_POST_DEFAULT(), new { @id = "formPesquisaPendencias", @class = "form-pagination" }))
    {
        <br />
        <div class="container card bg-primary">
            <div class="py-1" style="color:white;">
                <h3>Filtros</h3>
            </div>
            <div class="row bg-light">

                <div class="col-md-4">
                    @Html.LabelFor(model => model.Filtro.NomFornecedor)
                    @Html.ValidationMessageFor(model => model.Filtro.NomFornecedor, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-4">
                            @Html.EditorFor(model => model.Filtro.CodFornecedor, new { htmlAttributes = new { @class = "form-control", data_val = false, id = "txtFiltroPendenciaVerbaCodFornecedor" } })
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Filtro.NomFornecedor, new { htmlAttributes = new { @class = "form-control", data_val = false, id = "txtFiltroPendenciaVerbaNomFornecedor" } })

                                <button type="button" class="input-group-addon" title="Pesquisar Filial" style="cursor: pointer;background-color: #196dab;color:white;padding-top:10px;padding-bottom: 10px;" id="btnOpenModal" onclick="jsOpenModalFilialPendencia()"><i class="fa fa-search center"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.Filtro.NomAutor)
                    @Html.ValidationMessageFor(model => model.Filtro.NomAutor, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-4">
                            @Html.EditorFor(model => model.Filtro.CodAutor, new { htmlAttributes = new { @class = "form-control", data_val = false, id = "txtFiltroPendenciaVerbaCodAutor" } })
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Filtro.NomAutor, new { htmlAttributes = new { @class = "form-control", data_val = false, id = "txtFiltroPendenciaVerbaNomAutor" } })

                                <button type="button" class="input-group-addon" title="Pesquisar Filial" style="cursor: pointer;background-color: #196dab;color:white;padding-top:10px;padding-bottom: 10px;" id="btnOpenModal" onclick="jsOpenModalAutorPendencia()"><i class="fa fa-search center"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Filtro.CodNegociacaoVerba)
                    @Html.ValidationMessageFor(model => model.Filtro.CodNegociacaoVerba, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.Filtro.CodNegociacaoVerba, new { htmlAttributes = new { @class = "form-control", data_val = false } })
                </div>
                <div class="col-md-2">
                    <br />
                    <button type="submit" title="Pesquisar" class="btn" style="cursor: pointer;background-color: #196dab;" id="" value="" required=""><i class="fa fa-search"></i> Pesquisar</button>
                </div>
            </div>
        </div>
        <br />

        if (Model.Result == null)
        {
            Model.Result = new List<NegociacaoVerbaViewModel>();

        }
        Model.Result.Add(new NegociacaoVerbaViewModel() { CodNegociacaoVerba = 1, DesNegociacaoVerba = "Negociacao 01", NomFornecedor = "Fornecedor 1", NomComprador = "Igor", NomAutor = "Igor Também", VlrVerba = 10000, DtCadastroNegociacao = DateTime.Now });
        foreach (var item in Model.Result)
        {
            <div class="container card bg-primary" onclick="jsEditarPendencia(@item.CodNegociacaoVerba)">

                <div class="py-1" style="color:white;">
                    <h5>@string.Format("{0} - {1}", Html.DisplayFor(modelItem => item.CodNegociacaoVerba), Html.DisplayFor(modelItem => item.DesNegociacaoVerba))</h5>
                </div>
                <div class="row bg-light">
                    <ul class="" style="cursor: pointer;">
                        <li style="list-style-type: none;">
                            <i class="fa fa-fw fa-truck"></i>&nbsp;Fornecedor: @Html.DisplayFor(modelItem => item.NomFornecedor)
                            <br />
                            <i class="fa fa-fw fa-user"></i>&nbsp;Comprador: @Html.DisplayFor(modelItem => item.NomComprador)
                            <br />
                            <i class="fa fa-fw fa-user-circle"></i>&nbsp;Autor: @Html.DisplayFor(modelItem => item.NomAutor)
                            <br />
                            <i class="fa fa-fw fa-money"></i>&nbsp;Valor: R$ @string.Format("{0}", Html.DisplayFor(modelItem => item.VlrVerba))
                            <br />
                            <i class="fa fa-fw fa-calendar"></i>&nbsp;Data: @Html.DisplayFor(modelItem => item.DtCadastroNegociacao)
                        </li>
                    </ul>
                </div>
            </div>

            <br />
        }

        <br />
        <br />
        <br />
    }
</div>

<div class="aprovaNegociacao" id="aprovaNegociacao"></div>
<div id="formEdit"></div>
<div id="appendFind"></div>

<!-- Script -->
@section Scripts {
    @Scripts.Render("~/Scripts/pagina/negociacao-verba.js")
    @Scripts.Render("~/Scripts/pagina/pendencias.js")
    @Scripts.Render("~/Scripts/find/funcionario.js")
    @Scripts.Render("~/Scripts/find/filial.js")
    @Scripts.Render("~/Scripts/find/fornecedor.js")
}